<html>

<head>
	<title>Configuration Screen</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.16.min.js"></script>
	<script src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script>
	<script src="../js/awscredentials.js"></script>
	<script src="../js/configuration.js"></script>
	<link href="../css/simple-sidebar.css" rel="stylesheet">
	<link href="../css/configuration.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="../css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="configurationApp">
	<div ng-controller="configController">

		<div id="wrapper" class="toggled">

			<!-- Sidebar -->
			<div id="sidebar-wrapper">
					<ul class="sidebar-nav" style="border-top:1px ridge rgba(255, 255, 255, 0.15)">
						<li class="sidebar-brand" >
							<a href="../index.html">
								Pump Monitor
							</a>
						</li>
						<li class="nav-items">
								<a href="diagnosis.html">Diagnosis</a>
						</li>
						<li class="nav-items">
								<a href="monitoring.html">
									Monitoring</a>
						</li>
						<li class="nav-items">
							<a href="vibration.html">Vibration</a>
						</li>
						<li class="nav-items">
							<a href="configuration.html">Configuration</a>
						</li>
						<li class="nav-items">
							<a href="testData.html">Model Trainer</a>
						</li>
						<li class="nav-items">
							<a href="reports.html">Reports</a>
						</li>
					</ul>
				</div>
				<!-- /#sidebar-wrapper -->

			<!-- Page Content -->
			<div id="page-content-wrapper">
				<div class="container-fluid">
					<div class="panel panel-default">
						<div class="panel-heading">
							<label class="main-heading">Configuration</label>
						</div>
						<div class="panel-body">
							<h2>
								<label class="control-label"> Configuration Data</label>
							</h2>
							<form class="form-horizontal">
								<div>
									<div class="form-group">
										<label class="control-label col-xs-4">Rated Power</label>
										<div class="col-xs-6 formPadding">
											<input type="text" class="form-control " name="rpower" ng-model="rpower" />
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4">Rated Efficiency</label>
										<div class="col-xs-6 formPadding">
											<input type="text" name="rateeff" ng-model="rateeff" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4">Minimum Flow</label>
										<div class="col-xs-6 formPadding">
											<input type="text" name="minflow" ng-model="minflow" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4">Threshold</label>
										<div class="col-xs-6 formPadding">
											<input type="text" name="threshold" ng-model="threshold" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4">Rated Flow</label>
										<div class="col-xs-6 formPadding">
											<input type="text" name="rflow" ng-model="rflow" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-4">Rated Speed</label>
										<div class="col-xs-6 formPadding">
											<input type="text" name="rspeed" ng-model="rspeed" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-offset-9 col-xs-1">
											<button class="btn btn-primary btn-lg" ng-click="updateConfigData()">Update</button>
										</div>
									</div>

							</form>

							</div>
						</div>

					</div>
				</div>
				<!-- /#page-content-wrapper -->
			</div>
		</div>
</body>

</html>s