<!-- <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pump Monitoring System</title>

    <!-- Bootstrap core CSS -->
<link href="../css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Custom styles for this template -->
<link href="../css/simple-sidebar.css" rel="stylesheet">
<link href="../css/monitoring.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.16.min.js"></script>
<script src="../js/awscredentials.js"></script>
<script src="../js/monitoring.js"></script>
</head>

<body ng-app="monitoringApp">
    <div ng-controller="monitoringController">
        <div id="wrapper" class="toggled">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="../index.html">
                            Pump Monitor
                        </a>
                    </li>
                    <li class="nav-items">
                        <a href="diagnosis.html">Diagnosis</a>
                    </li>
                    <li class="nav-items">
                        <a href="monitoring.html">
                            Monitoring</a>
                    </li>
                    <li class="nav-items">
                        <a href="vibration.html">Vibration</a>
                    </li>
                    <li class="nav-items">
                        <a href="configuration.html">Configuration</a>
                    </li>
                    <li class="nav-items">
                        <a href="testData.html">Model Trainer</a>
                    </li>
                    <li class="nav-items">
                        <a href="reports.html">Reports</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label class="main-heading">Monitoring</label>
                            </h2>
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Alarms</h3>
                                </div>
                                <div class=" statusHeading">
                                    Motor Status ::
                                    <div style="display: inline-block;" ng-if='motorStatus == "Normal"'>

                                        <img src="..\images\working.jpg" alt="Smiley face" height="32" width="32">
                                    </div>
                                    <div style="display: inline-block;" ng-if='motorStatus != "Normal"'>
                                        <img src="..\images\error.jpg" alt="Smiley face" height="32" width="32">
                                    </div>
                                    {{motorStatus}}
                                </div>
                                <div class="panel-body">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Alarm</th>
                                                <th>Type</th>
                                                <th>Status</th>
                                                <th>TimeStamp</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="alarm in alarms track by $index">
                                                <td>
                                                    <button type="submit" class="alarmButton">{{alarm.Name}}</button>
                                                </td>
                                                <td>{{alarm.Type}}</td>
                                                <td>{{alarm.AlarmStatus}}</td>
                                                <td>{{alarm.TimeStamp}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Measured Values</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th ng-repeat="header in headers">{{header}}</th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="rowData in tableData track by $index">
                                            <td ng-repeat="cellData in rowData track by $index">{{cellData}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
</body>

</html> -->