div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}



* {
    box-sizing: border-box;
}
.main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid black;
    border-width: thick;
    
}