#wrapper1 {

    width: auto;
    overflow: hidden;
    margin: 1%; /* will contain if #first is longer than #second */
}
#first {
    width: 48%;
    float:left; /* add this */
    border: 1px solid red;
    margin-right:2%;
}
#second {
	 width: 48%;
	 margin-left:2%;
    border: 1px solid green;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid path,
.grid line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.25);
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 2.5px;
}
.main-heading{
    font-size: 24px;
    font-weight: bold;
}
.subHeading
{
    font-size: 22px;
    font-family: 'Allerta Stencil';  
    padding: 10px 0;  
}
/* #graph
{
    height: 50%;
    width: 50%;
    float: left;
} */