.main-heading{
    font-size: 24px;
    font-weight: bold;
}

.subHeading
{
    font-size: 22px;
    text-align: center;
    font-family: 'Allerta Stencil';  
    padding: 10px 0;  
}

.statusHeading
{
    text-align: center;
    font-size: 18px;
    font-family: 'Allerta Stencil';  
    color: blue;
}


.alarmButton {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
    width:150px;
  }

  @-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #920000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 7px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #920000; }
  }
  